.account-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 742px;
    height: 583px;
    background-color: $hershey;
    text-align: center;
    outline: none;
    margin: -432px 0 0 -340px;
    padding: 20px;

    .close-btn {
        cursor: pointer;
        fill: $mainFontColor;
        text-align: right;

        img {
            width: 35px;
            height: 35px;
        }
    }

    .account-heading {
        font-size: 42pt;
        font-family: JosefinRegular, Arial;
        color: $mainFontColor;
        margin-top: 46px;
        margin-bottom: 60px;
    }

    .account-container {
        .row {
            padding: 0 40px;
            height: 53px;
            margin-bottom: 18px;
            div:first-child {
                float: left;
            }
            div:last-child {
                float: right;
            }
        }

        .wide-row {
            margin-top: 34px;
            padding-left: 40px;
            padding-right: 40px;

            .account-input-field {
                width: 100%;
                input {
                    width: 100%;
                }
            }
        }
    }

    button {
        width: 147px;
        height: 48px;
        background-color: white;
        border-radius: 10px;
        border: 1px solid #ccc;
        font-family: GothicRegular, Arial;
        font-size: 14pt;
        outline: none;
        cursor: pointer;
        margin-top: 66px;
        &:active {
            background-color: $salt;
        }
    }
}