.menu-container {
    height: 60px;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 3;
    border-bottom: 2px solid $salt;
    .center-container {
        width: 1024px;
        height: 100%;
        margin: 0 auto;
        .logo-name {
            height: 60px;
            line-height: 60px;
            float: left;
            display: block;
            font-family: JosefinRegular, Arial;
            font-size: 14pt;
            cursor: pointer;
            &:hover {
                color: black;
            }
            padding-left: 10px;
        }

        .signin, .signout {
            float: right;
            height: 60px;
            line-height: 60px;
            font-family: JosefinRegular, Arial;
            font-size: 14pt;
            cursor: pointer;
            &:hover {
                color: black;
            }
            padding-right: 10px;
        }
    }
}