$mainFontColor: #434343;

$caramel: #CABFAB;
$salt: #D1E0E6;
$grape: #F4BAE2;
$bubble: #FEBCC5;
$hershey: #D9D7E1;
$sour: #D0DDBE;
$peach: #FFD697;
$lemon: #FFEEA7;

.caramel {
    background-color: $caramel !important;
}
.salt {
    background-color: $salt !important;
}
.grape {
    background-color: $grape !important;
}
.bubble {
    background-color: $bubble !important;
}
.hershey {
    background-color: $hershey !important;
}
.sour {
    background-color: $sour !important;
}
.peach {
    background-color: $peach !important;
}
.lemon {
    background-color: $lemon !important;
}
.white {
    background-color: white !important;
    border: 2px $hershey solid;
}

:export {
    caramel: $caramel;
    salt: $salt;
    grape: $grape;
    bubble: $bubble;
    hershey: $hershey;
    sour: $sour;
    peach: $peach;
    lemon: $lemon;
}