@font-face {
    font-family: 'JosefinBold';
    src: url("../../public/assets/fonts/JosefinSans-Bold.ttf") format("truetype");
}

@font-face {
    font-family: 'JosefinRegular';
    src: url("../../public/assets/fonts/JosefinSans-Regular.ttf") format("truetype");
}


@font-face {
    font-family: 'GothicRegular';
    src: url("../../public/assets/fonts/DidactGothic-Regular.ttf") format("truetype");
}