@import './fonts.scss';
@import './colors.scss';

@import 'nav-bar/index.scss';
@import 'landing-page/index.scss';
@import 'login/index.scss';
@import 'dashboard/index.scss';
@import 'nav-bar/account.scss';
@import 'quests/index.scss';

@import 'common/new-quest/index.scss';
@import 'common/input/account-input.scss';
@import 'common/input/rich-input.scss';
@import 'common/avatar/index.scss';
@import 'common/color-selector/index.scss';

body {
    width: 100%;
    margin: 0 auto;
    color: $mainFontColor;
}

#root {
    width: 1024px;
    margin: auto;
}

@media only screen and (max-width: 1024px) {
    #root {
        width: 100%;
        margin: auto;
    }
}
