@import './fonts.scss';
@import './colors.scss';

@import 'common/nav-bar/index.scss';
@import 'landing-page/index.scss';
@import 'login/index.scss';
@import 'dashboard/index.scss';
@import 'quests/index.scss';

@import 'common/new-quest/index.scss';
@import 'common/input/account-input.scss';
@import 'common/input/account-button.scss';
@import 'common/avatar/index.scss';
@import 'common/color-selector/index.scss';
@import 'common/image-editor/index.scss';
@import 'common/input/emoji-input.scss';
@import 'common/wheel/index.scss';
@import 'common/spinner/index.scss';

@import 'teacher/dashboard/index.scss';

@import 'student/dashboard/index.scss';

@import 'assessment/index.scss';

html {
    margin-left: calc(100vw - 100%);
}
body {
    width: 100%;
    margin: 0 auto;
    color: $mainFontColor;
    background-color: #fafafa;
    margin-top: 50px;
    overflow-y: scroll;
}

.container {
    width: 1024px;
    margin: auto;
}

@media only screen and (max-width: 1024px) {
    .container {
        width: 100%;
        margin: auto;
    }
    .menu-container .center-container {
        width: 100%;
    }
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scroll-tract {
    padding: 5px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 8px;
    background-color: #999999;
    border: 2px solid transparent;
    background-clip: padding-box;

    &:hover {
        background-color: #999999;
    }
}

input::placeholder, textarea::placeholder {
    font-family: JosefinRegular, Arial;
    color: #ccc;
}

.ReactModal__Overlay {
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.7) !important;
}
