@import './fonts.scss';
@import './colors.scss';

@import 'nav-bar/index.scss';
@import 'landing-page/index.scss';

body {
    width: 100%;
    margin: 0 auto;
    color: $mainFontColor;
}

#root {
    width: 1024px;
    margin: auto;
}

@media only screen and (max-width: 1024px) {
    #root {
        width: 100%;
        margin: auto;
    }
}