.menu-container {
    height: 60px;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    top: 0;
    width: 1024px;
    background-color: white;

    .menu-container-flex {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        margin-top: 18px;
        .logo-name {
            font-family: JosefinRegular, Arial;
            font-size: 14pt;
            cursor: pointer;
            &:hover {
                color: black;
            }
        }
    
        .signin {
            font-family: JosefinRegular, Arial;
            font-size: 14pt;
            cursor: pointer;
            &:hover {
                color: black;
            }
        }
    }
    
}