.menu-container {
    height: 60px;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 1024px;
    background-color: white;

    .logo-name {
        height: 60px;
        line-height: 60px;
        float: left;
        display: block;
        font-family: JosefinRegular, Arial;
        font-size: 14pt;
        cursor: pointer;
        &:hover {
            color: black;
        }
        padding-left: 10px;
    }

    .signin, .signout {
        float: right;
        height: 60px;
        line-height: 60px;
        font-family: JosefinRegular, Arial;
        font-size: 14pt;
        cursor: pointer;
        &:hover {
            color: black;
        }
        padding-right: 10px;
    }

    .profile-icon {
        float:right;
        height: 60px;
        line-height: 60px;
        cursor: pointer;
    }
    
    
}