.assessment-container {
    margin-top: 100px;
    font-family: GothicRegular, Arial;
    .assesssment-wheel-container {
        text-align: center;
        .wheel-container {
            display: inline-block;
        }
    }

    .emoji-input {
        .DraftEditor-root {
            border: 2px solid $salt;
            padding: 14px 5px;
        }
        &.focused {
            .DraftEditor-root {
                border-color: $sour;
            }
        }
    }
    .feedback-submit {
        float: left;
		background-color: white;
		border: 2px solid $salt;
		height: 40px;
		font-size: 12pt;
		margin: 5px 24px 14px 0;
		&:hover {
			border-color: $grape;
		};
		margin-left: 24px;
    }
    
    .score-container{
        display: inline-block;
        height: 300px;
        width: 284px;
        text-align: center;
        font-size: 16pt;
        font-family: JosefinBold, Arial;
        .combine-wheel {
            position: relative;
            .wheel-container{
                position:absolute;
                left:0;
            }
        }
        .wheel-container.student {
            top: 40px;
            left: 40px;
        }
        circle {
            cursor: default !important;
        }
    }

    .legend {
        height: 40px;
        display: block;
        width: 100%;
        font-size: 10pt;
        img {
            height: 20px;
            margin-left: 30px;
        }
        .legend-item {
            float: right;
        }
    }
}

.assessment-container.table-row {
    margin-top: 10px;
}