.info-container{
    margin: 30px 0 50px 0 !important;
    .quests-info, .peers-info, .skills-info{
        font-family: JosefinBold, Arial;
        font-size: 12pt;
        text-align: center;
        display: inline-block;
        width:100%;
        span { cursor: pointer; user-select: none; }
        img {
            width: 119px;
            height: 24px;
            display: block;
            margin: auto;
            display:none;
            pointer-events: none;
        }
        .selected {
            img {
                display: block !important;
            }
        }
    }
}
